@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
  background: #1f2937;
  }
  
  body::-webkit-scrollbar-thumb {
  background: transparent;
  }

.scrollbar::-webkit-scrollbar {
  width: 0.15rem;
  }
  
  .scrollbar::-webkit-scrollbar-track {
  background: transparent;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
  background: indianred;
  }